# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_USER=
DB_PASS=
DB_HOST=postgres
DB_PORT=5432
DB_PORT_EXTERNAL=5433
DB_NAME=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=
REDIS_URL=redis:6379

# App
PORT=8080
JWT_SECRET=
APP_ENV=development

# Cloudflare Turnstile
CAPTCHA_ENABLED=false
TURNSTILE_SECRET_KEY=

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_SANDBOX=true

# Waha
WAHA_URL=http://waha:3000
WAHA_API_KEY=
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=
WAHA_WEBHOOK_SECRET=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASS=

# Frontend
FRONTEND_URL=http://localhost:3001
VITE_API_URL=http://localhost:8080/api
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:5173

# PORT EKSTERNAL TAMBAHAN (DOCKER)
FRONTEND_PORT=3001
REDIS_PORT_EXTERNAL=6380
WAHA_PORT=3000
N8N_PORT_EXTERNAL=5678